# D02: Importing & Exporting data with Pandas

We'll start our introduction to pandas by looking at ways in which we read in, or import data in to be analysed and visualised.

Pandas can read a variety of data in, in a variety of formats. In this lesson we'll look at some of the more common data types and the syntax and options you have to read these in.

## CSV data

CSV stands for comma separated values. It is essentially a plan text file, the likes of which you can create with notepad or a text editor where the data values are separated by commas. Note that the csv file can have variants (e.g. a tab separated values or TSV file) and often the data will be separated by other separators such as spaces, pipes or semi colons.

For now we're going to look at how we import a simple csv file using pandas. I've uploaded some data from gov.uk onto an AWS server where we can access it directly without the need to download it.

In [3]:
import pandas as pd

csv_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file

df1 = pd.read_csv(csv_path)   # Imports the csv
df1.head(5)                   # Calling the head method wiuth a value will show the first x records of the data

,VTS Site Number,VTS Trading Name,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Post Code,VTS Telephone Number,VTS Fax Number,1,2,3,4,4A,5,5A,7
0,0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW,'01142363617,'01142621012,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
1,0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ,'01179651900,'01179650651,NaN,NaN,NaN,Y,NaN,Y,NaN,Y
2,0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH,'01495755140,'014795760771,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
3,0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ,'01302363860,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
4,0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA,'01516398121,'01516390748,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
5,0008B9,TEARS OF SUTTON BRIDGE LTD,BRIDGE ROAD,SUTTON BRIDGE,NaN,SPALDING,PE12 9SH,'01406350218,',NaN,NaN,NaN,Y,NaN,Y,NaN,Y
6,0015B4,R G AUTO SERVICES,THE GARAGE,BARROWAY DROVE,NaN,DOWNHAM MARKET,PE38 0AN,'01366324439,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
7,0018AB,GILBERDYKE MOT CENTRE,INGS VIEW GARAGE,MAIN ROAD,GILBERDYKE,BROUGH,HU15 2SL,'01430441140,'01430449393,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
8,0019BG,TYRES (NORTHAMPTON) LTD,TYNE ROAD,WEEDON ROAD INDUSTRIAL ESTATE,NaN,NORTHAMPTON,NN5 5AF,'01604588599,'01604585780,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
9,0021B0,BENTLEYS GARAGES DEVON LTD,12 HIGH STREET,NaN,NaN,EXMOUTH,EX8 1NN,'01395272048,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
10,0023A0,A M AUTOS,BALACLAVA ROAD,NaN,NaN,SHEFFIELD,S6 3BG,'01142340707,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
11,0023B2,GREAT HORKESLEY GARAGE,THE CAUSEWAY,GREAT HORKESLEY,NaN,COLCHESTER,CO6 4EJ,'01206273150,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
12,0025B8,CHRISTCHURCH SERVICE STATION,2 CHRISTCHURCH ROAD,NaN,NaN,SOUTHEND ON SEA,SS2 4JS,'01702466012,',Y,Y,Y,Y,NaN,NaN,NaN,NaN
13,0026A9,MEERSBROOK SERVICE STATION,1-7 MEERSBROOK ROAD,NaN,NaN,SHEFFIELD,S8 9HU,'01142557755,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
14,0026BB,MCCONECHY'S TYRE SERVICE LTD,16-18 PEEBLES STREET,NaN,NaN,AYR,KA8 8DR,'01292281415,'01292260492,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
15,0027AC,HALFORDS AUTOCENTRE,67 DONCASTER ROAD,NaN,NaN,SCUNTHORPE,DN15 7RG,'01724866185,'01724281756,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
16,0027BE,CLAY LANE TEST CENTRE,CLAY LANE,LONG SANDALL,NaN,DONCASTER,DN2 4RA,'01302322092,',NaN,NaN,NaN,Y,Y,Y,Y,Y
17,0031B0,FRIENDLY SERVICE CENTRE LTD,2-12 RUBY STREET,NaN,NaN,LONDON,SE15 1LL,'02077328884,'08700518700,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
18,0034B9,KWIK - FIT,THE PROMENADE,NaN,NaN,LEVEN,KY8 4PJ,'01333428938,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
19,0038AK,THE SERVICE CENTRE MOT STATION,UNIT 1,HUD HEY INDUSTRIAL ESTATE,HASLINGDEN,ROSSENDALE,BB4 5JH,'01706212654,'01706212654,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
20,0038BM,NORTH COAST 4 X 4 LTD,BEACON GARAGE,12 TO 14 RICHMOND ROAD,NaN,CATTERICK GARRISON,DL9 3JA,'01748833222,'01748833878,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
21,0039AN,CRAWSHAWBOOTH MOTOR REPAIRS LIMITED,WATER STREET,CRAWSHAWBOOTH,NaN,ROSSENDALE,BB4 8AP,'01706226686,'01706260175,Y,Y,NaN,Y,NaN,Y,NaN,Y
22,0039BQ,P & A ANDERTON,GORTON FOLD TESTING STATION,GORTON FOLD,"CHURCH STREET, HORWICH",BOLTON,BL6 7BX,'01204695948,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
23,0043BA,ABBEY MOT,REAR HIGH STREET SOUTH,LANGLEY MOOR,NaN,DURHAM,DH7 8JN,'0191 3781276,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
24,0044BD,STOCKWELL MOTS,205 CLAPHAM ROAD,STOCKWELL,NaN,LONDON,SW9 0QH,'02077336226,'02077339383,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
25,0048BR,LLOYD MOTORS LTD,LAITHWAITE PARK,LOW ROAD,NaN,COCKERMOUTH,CA13 0HH,'01900823666,'01900827150,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
26,0050B5,HIGHFIELD GARAGE,BUBWITH,NaN,NaN,SELBY,YO8 7DN,'01757288385,'01757288385,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
27,0051B8,F CROSS AND SON,DONCASTER ROAD,HATFIELD,NaN,DONCASTER,DN7 6AD,'01302 840253,',Y,Y,NaN,Y,NaN,NaN,NaN,NaN
28,0054BH,REYNOLDS OF SELBY,CANAL ROAD,NaN,NaN,SELBY,YO8 8AG,'01757700800,'01757 210000,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
29,0059BZ,T H AUTOS,135-137 QUEENS ROAD,CLARENDON PARK,NaN,LEICESTER,LE2 3FL,'01162448620,'01162707052,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22707,V110354,BAYVIEW GARAGE,SCOTTS ROAD,HATSTON INDUSTRIAL ESTATE,NaN,"KIRKWALL, ORKNEY",KW15 1GR,'01856 879601,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22708,V110365,Morris Motors & MOTs,Northleigh House,Lime Klin Close,Stoke Gifford,Bristol,BS34 8SD,'07710 833 872,',NaN,NaN,Y,Y,Y,Y,Y,Y
22709,V110367,NEATH MOT CENTRE,4 CANAL ROAD,NaN,NaN,NEATH,SA11 1LJ,'01639 773334,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22710,V110370,REDCAR AUTO & PERFORMANCE CENTRE LTD,1 TOD POINT ROAD,NaN,NaN,REDCAR,TS10 5AW,'07901611173,',Y,Y,NaN,Y,NaN,Y,NaN,Y
22711,V110371,J B MOTORS,UNIT JB1,EAST CRAMLINGTON INDUSTRIAL ESTATE,NaN,CRAMLINGTON,NE23 6XW,'01670735922,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22712,V110373,WARNE MOTORS BURY LTD,3 SICKLESMERE ROAD,NaN,NaN,BURY ST EDMUNDS,IP33 2BN,',',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22713,V110377,CROSTON MOT CENTRE,TWIN LAKES INDUSTRIAL ESTATE,CROSTON,NaN,PRESTON,PR26 9RF,'01772 601605,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22714,V110382,MONTAGUE MOTORS ENGINEERS LTD,99 MONTAGUE STREET,NaN,NaN,BLACKBURN,BB2 1EH,'078786367740,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22715,V110386,STONELAKE OF HALIFAX,WAKEFIELD ROAD,COPLEY,NaN,HALIFAX,HX3 0UA,',',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22716,V110390,AMALGAMATED 1997 LIMITED,BAY 1 UNIT 1 ROTHERSTHORPE AVENUE,FAR COTTON,NaN,NORTHAMPTON,NN4 8JH,'01604 621337,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22717,V110392,TMS MOT CENTER,UNIT 11 SMALL HEATH TRADING ESTATE,ARMOURY ROAD,SMALL HEATH,BIRMINGHAM,B11 2RJ,'07746 468462,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22718,V110394,BAYLIS WORCESTER,SHIPSTON CLOSE,COTSWOLD WAY,BLACKPOLE,WORCESTER,WR4 9XN,'01905 755966,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22719,V110398,WISHAW MOT CENTRE LTD,"BLOCK 3, UNI T 2",16 CLAMP ROAD,ETNA INDUSTRIAL ESTATE,WISHAW,ML2 7XQ,'07775735313,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22720,V110399,G & J TESTING AND SERVICING LIMITED,UNIT 25 FISHER STREET,DUDLEY PORT,NaN,TIPTON,DY4 8XE,'0121 557 1002,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22721,V110402,FORMULA ONE AUTOCENTRES,UNIT 1A,RINGWAY INDUSTRIAL ESTATE,EASTERN AVENUE,LICHFIELD,WS13 7SF,'01543 411114,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22722,V110404,HALFORDS AUTOCENTRES LTD,UNIT 1,MATRIX TRADE PARK,VICTORIA ROAD,DARTFORD,DA1 5AJ,'01322274732,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22723,V110405,BRUMERS BIKES LTD,UNIT Z10,WESTPARK 26,CHELSTON,WELLINGTON,TA21 9AD,'01823 665100,',Y,Y,NaN,NaN,NaN,NaN,NaN,NaN
22724,V110409,ELY AUTO CARE LTD,"UNIT 3, NEWHAM PARK",SEDGEWAY,COMMON ROAD,"WITCHFORD, ELY",CB6 2HZ,'01353 668917,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22725,V110410,INCHCAPE VOLKSWAGON EXETER,2 MATFORD WAY,MATFORD,NaN,EXETER,EX2 8FN,'01392 215151,'01392 430335,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22726,V110413,FORMULA ONE AUTOCENTRES,UNIT 2-3,MATRIX BUSINESS CENTRE,VICTORIA ROAD,DARTFORD,DA1 5AJ,',',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22727,V110414,AUDI 4U,UNIT 18,AXE ROAD,COLLEY LANE INDUSTRIAL ESTATE,BRIDGWATER,TA6 5LJ,'01278 434141,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22728,V110416,HALFORDS AUTOCENTRES LTD,UNIT 3,METRIC TRADE PARK,LOVE LANE,CIRENCESTER,GL7 1YQ,'01285644713,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22729,V110418,FORMULA ONE AUTOCENTRES,UNIT 4 VANTAGE PARK,PHOENIX WAY,NaN,COVENTRY,CV6 5QE,'02476 667070,',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22730,V110421,LES LINEY VEHICLE HIRE LTD,FIVE ALLS SERVICE STATION,WYCOMBE ROAD,STUDLEY GREEN,HIGH WYCOMBE,HP14 3XB,',',Y,Y,NaN,Y,NaN,Y,NaN,Y
22731,V110424,LC AUTOMOTIVES LTD,127 HOYLE STREET,NaN,NaN,WARRINGTON,WA5 0LP,'01925 638171,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22732,V110434,AP AUTO SERVICES,UNIT 1,5 OXFORD ROAD,NaN,HARTLEPOOL,TS25 5QQ,'01429 597048,',NaN,NaN,NaN,Y,NaN,Y,NaN,Y
22733,V110448,TYTHERINGTON GARAGE,CASTLE QUARRY,WEST STREET,NaN,TYTHERINGTON,GL12 8UH,'07500 905126,',NaN,NaN,NaN,Y,NaN,NaN,NaN,Y
22734,V110459,E3 MOTORING,126 BOW COMMON LANE,NaN,NaN,LONDON,E3 4BH,',',NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
22735,V110471,ONLINE AUTOS LTD,UNIT 10 POPLARS FARM,FORSHAW HEATH ROAD,EARLSWOOD,SOLIHULL,B94 5JX,'01564 703611,',Y,Y,NaN,Y,NaN,NaN,NaN,NaN
22736,V110495,SHAUN AUTO,UNIT 5 GRANGE ROAD,HEYSHAM ROAD INDUSTRIAL ESTATE,NaN,BOOTLE,L30 6TS,'0151 521 5454,',NaN,NaN,NaN,Y,NaN,Y,NaN,Y

As we can see, pandas has imported our csv perfectly!

Note how the telephone and fax number columns begin with an apostrophe. This is presumably done to stop software reading it these fields as numbers and stripping the leading 0 of the phone number out!

You'll also notice that missing data is shown with a NaN value. This stands for 'Not a Number' and we'll be exploring that in greater detail later on.

We do have a lot of control over the read_csv function as evidenced by this more detailed example:

In [8]:
path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.csv';  # Location of the file
cols = ['Site', 'Name', 'Address 1',' Address 2', ' Address 3', 'Address 4','Postcode','Tel', 'Fax','1','2','3','4','4A','5','5A','7']

df2 = pd.read_csv(filepath_or_buffer=csv_path,# Keyword argument for the file location
                  sep=',',                    # The separator for the data fields. Pandas will try and determine this automatically
                  header = 0,                 # The row of the input file to use for the headers
                  names = cols,               # Custom column names - passed as a list
                  index_col = 'Site',         # Column to use as an index - can also pass a number
                  usecols = [0,1,2,3,4,5,6],  # Specify specific columns to import
                 )
df2.head(5)

,Name,Address 1,Address 2,Address 3,Address 4,Postcode
Site,,,,,,
0003AW,M AND T TRANSMISSIONS LIMITED,120 BRADWAY ROAD,NaN,NaN,SHEFFIELD,S17 4QW
0003BY,M & D SERVICES (BRISTOL) LTD,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,BS16 3LJ
0004B1,PANTEG SERVICE STATION,STATION RD,GRIFFITHSTOWN,NaN,PONTYPOOL,NP4 5JH
0005A2,HAVELOCK ROAD GARAGE,HAVELOCK ROAD,BALBY,NaN,DONCASTER,DN4 8AQ
0005B0,STONEACRE,ROWSON STREET,NEW BRIGHTON,NaN,WALLASEY,CH45 2NA

You can read more about the read_csv function at the Pandas API reference <a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">here</a>.

## JSON Data

JSON stands for JavaScript Object Notation. It is a widely used data format on the internet due to the wide use of Javascript in web browsers. If you've not seen JSON data before, it can appear a little daunting as it's not really designed to be easily read by humans and also due to its nested nature. That said, it is a very efficient way to store unstructured data since not all the data items have to have the same 'shape' (e.g. rows / columns) and values can be nested within other data items and accesed by indexing.

We'll now look at the above extract from the MOT dataset above, except in JSON format:

'{"Name":
    {"0003AW":"M AND T TRANSMISSIONS LIMITED",
    "0003BY":"M & D SERVICES (BRISTOL) LTD",
    "0004B1":"PANTEG SERVICE STATION",
    "0005A2":"HAVELOCK ROAD GARAGE",
    "0005B0":"STONEACRE"},
"Address 1":
    {"0003AW":"120 BRADWAY ROAD",
    "0003BY":"UNIT 1 BALACLAVA ROAD IND EST",
    "0004B1":"STATION RD","0005A2":"HAVELOCK ROAD",
    "0005B0":"ROWSON STREET"}," 
Address 2":
    {"0003AW":null,
    "0003BY":"RIDGWAY ROAD",
    "0004B1":"GRIFFITHSTOWN",
    "0005A2":"BALBY",
    "0005B0":"NEW BRIGHTON"}," 
Address 3":
    {"0003AW":null,
    "0003BY":"FISHPONDS",
    "0004B1":null,
    "0005A2":null,
    "0005B0":null},
"Address 4":
    {"0003AW":"SHEFFIELD",
    "0003BY":"BRISTOL",
    "0004B1":"PONTYPOOL",
    "0005A2":"DONCASTER",
    "0005B0":"WALLASEY"},
"Postcode":
    {"0003AW":"S17 4QW",
    "0003BY":"BS16 3LJ",
    "0004B1":"NP4 5JH",
    "0005A2":"DN4 8AQ",
    "0005B0":"CH45 2NA"}}'

As you can see the format isn't particularly easy on the eye and due to it's different structure and nesting, it's quite difficult to make sense of. Fortunately pandas copes very well with JSON and can make light work of it.

We're now going to import an identical MOT dataset to our first example, except this time it's saved in JSON format.

In [9]:
json_path = 'https://s3-eu-west-1.amazonaws.com/dft-python/motsitelist2015.json';  # Location of the file - note the json suffix!
df3 = pd.read_json(json_path)
df3.head(5)

,1,2,3,4,4A,5,5A,7,VTS Address Line 1,VTS Address Line 2,VTS Address Line 3,VTS Address Line 4,VTS Fax Number,VTS Post Code,VTS Site Number,VTS Telephone Number,VTS Trading Name
0,None,None,None,Y,None,None,None,None,120 BRADWAY ROAD,None,None,SHEFFIELD,'01142621012,S17 4QW,0003AW,'01142363617,M AND T TRANSMISSIONS LIMITED
1,None,None,None,Y,None,Y,None,Y,UNIT 1 BALACLAVA ROAD IND EST,RIDGWAY ROAD,FISHPONDS,BRISTOL,'01179650651,BS16 3LJ,0003BY,'01179651900,M & D SERVICES (BRISTOL) LTD
10,None,None,None,Y,None,None,None,None,BALACLAVA ROAD,None,None,SHEFFIELD,',S6 3BG,0023A0,'01142340707,A M AUTOS
100,Y,Y,None,None,None,None,None,None,163-164 BUTE ST,None,None,TREORCHY,'01443 777480,CF42 6BY,0202A3,'01443 776060,BAZ BIKES
1000,Y,Y,None,None,None,None,None,None,STATION APPROACH,SANDERSTEAD ROAD,None,SOUTH CROYDON,'02086510596,CR2 0PL,15816,'02086570121,CARL ROSNER AUTOMOBILES LIMITED

As we can see, Pandas as read the JSON file in a different order and it also appears to have an issue with the index. This is all stuff we can fix very easily, and indeed we're going to find out how in the upcoming chapters, but as a basic validation check we should see whether the JSON dataframe has the same number of records as the CSV dataframe. We can do this with the len() function we met in the basics section:

In [10]:
print(len(df1),len(df3))

22737 22737

As we can see, both datasets have the same number of records which is encouraging! For now, we'll simply export our dataset as a csv so we can explore it in Excel or a similar program.

Note that you can read more about the read_json function <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">here</a>

In [11]:
out_path = "C:\\Users\\Standalone\\Desktop\\MOT File.csv"  # Location of the outfile
df3.to_csv(out_path)                                       # Exporting the file as a CSV

Note that we have to use double backslashes when specifying a string for the file location as Python uses single backslashes as an 'escape sequence'. There is more information about escape sequences in the further reading section.

You can also read more about the to_csv function <a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">here</a>.

## Other forms of data

Note that you're not just limited to JSON and CSV data when reading data into pandas, although these are two of the more common types of data format out there. Pandas has many other similar functions for reading a wider variety of data in, including:

* MS Excel
* HTML
* SQL
* STATA
* SAS

You can find a full list of these functions <a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">here</a> along with links to supporting documentation.

## Further Reading

<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html">Pandas IO tools</a> (Read / Export functions)<br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html">read_csv Function</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/version/0.17.1/generated/pandas.DataFrame.to_csv.html">to_csv Fucntion</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader">read_json function</a><br/>
<a href = "http://beginnersbook.com/2015/04/json-tutorial/">JSON Tutorial</a><br/>