# D04: Dataframes - Refining and Indexing

We've made a good start to learning about dataframes, but there's still plenty more to discover! We'll start this chapter by re-running the code from the previous chapter to continue working with the same dataset.

In [1]:
import pandas as pd

path = "https://vincentarelbundock.github.io/Rdatasets/csv/multgee/arthritis.csv" # Arthritis dataset
df = pd.read_csv(path)

new_names = {'Unnamed: 0':'Index',
             'id':'Patient ID',
             'y':'Arthritis Score',
             'sex':'Gender',
             'age':'Age',
             'trt':'Treatment Type',
             'baseline':'Baseline Arthritis Score',
             'time':'Time of Score'}                                   # Dictionary of new column names

order = ['Index','Patient ID','Gender','Age','Treatment Type',
         'Baseline Arthritis Score','Arthritis Score','Time of Score'] # List of the new column order
  
# Refining the structure of the dataset:
    
df = df.rename(columns = new_names)                    # Applying the new names to the dataframe
df = df[order]                                         # Ordering the columns in the dataframe
df = df.drop(['Index'],axis=1)                         # Dropping a column. The axis=1 is used to specify the vertical (column) axis
df = df.sort_values(by=['Patient ID','Time of Score']) # Sorting the dataframe by 2 x variables

# Creating a new column with a function

def gd_change (row):              
    if row['Gender'] == 1:
        return 'M'
    elif row['Gender'] == 2:
        return 'F'
    else:
        return 'O'
    
def trt_change (row):              
    if row['Treatment Type'] == 1:
        return 'Treatment'
    elif row['Treatment Type'] == 2:
        return 'Placebo'
    else:
        return 'Other'
    
df['Gender Desc'] = df.apply(gd_change,axis=1)     
df['Treatment Desc'] = df.apply(trt_change,axis=1)
df['Arthritis Score'] = df['Arthritis Score'].fillna(0).astype('int')
df.head(5)

,Patient ID,Gender,Age,Treatment Type,Baseline Arthritis Score,Arthritis Score,Time of Score,Gender Desc,Treatment Desc
0,1,2,54,2,2,4,1,F,Placebo
1,1,2,54,2,2,5,3,F,Placebo
2,1,2,54,2,2,5,5,F,Placebo
3,2,1,41,1,3,4,1,M,Treatment
4,2,1,41,1,3,4,3,M,Treatment

## Selecting / Keeping columns

We've already seen in the previous lesson how to drop columns from a pandas dataframe:

In [2]:
df['Blank'] = ''                # Creating a blank column to drop

In [4]:
df = df.drop(['Blank'],axis=1)  # Dropping a column. The axis = 1 is used to specify the vertical (column) axis
df

,Patient ID,Gender,Age,Treatment Type,Baseline Arthritis Score,Arthritis Score,Time of Score,Gender Desc,Treatment Desc
0,1,2,54,2,2,4,1,F,Placebo
1,1,2,54,2,2,5,3,F,Placebo
2,1,2,54,2,2,5,5,F,Placebo
3,2,1,41,1,3,4,1,M,Treatment
4,2,1,41,1,3,4,3,M,Treatment
5,2,1,41,1,3,4,5,M,Treatment
6,3,2,48,2,3,3,1,F,Placebo
7,3,2,48,2,3,4,3,F,Placebo
8,3,2,48,2,3,4,5,F,Placebo
9,4,2,40,1,3,4,1,F,Treatment
10,4,2,40,1,3,3,3,F,Treatment
11,4,2,40,1,3,4,5,F,Treatment
12,5,2,29,2,3,4,1,F,Placebo
13,5,2,29,2,3,3,3,F,Placebo
14,5,2,29,2,3,4,5,F,Placebo
15,6,2,43,2,2,3,1,F,Placebo
16,6,2,43,2,2,2,3,F,Placebo
17,6,2,43,2,2,3,5,F,Placebo
18,7,2,55,2,4,3,1,F,Placebo
19,7,2,55,2,4,2,3,F,Placebo
20,7,2,55,2,4,3,5,F,Placebo
21,8,1,49,1,3,3,1,M,Treatment
22,8,1,49,1,3,2,3,M,Treatment
23,8,1,49,1,3,2,5,M,Treatment
24,9,2,64,1,2,2,1,F,Treatment
25,9,2,64,1,2,2,3,F,Treatment
26,9,2,64,1,2,1,5,F,Treatment
27,10,2,51,2,3,3,1,F,Placebo
28,10,2,51,2,3,3,3,F,Placebo
29,10,2,51,2,3,4,5,F,Placebo
...,...,...,...,...,...,...,...,...,...
876,293,1,46,1,2,3,1,M,Treatment
877,293,1,46,1,2,3,3,M,Treatment
878,293,1,46,1,2,2,5,M,Treatment
879,294,1,60,1,3,4,1,M,Treatment
880,294,1,60,1,3,4,3,M,Treatment
881,294,1,60,1,3,4,5,M,Treatment
882,295,2,56,1,2,3,1,F,Treatment
883,295,2,56,1,2,3,3,F,Treatment
884,295,2,56,1,2,3,5,F,Treatment
885,296,1,63,1,3,3,1,M,Treatment
886,296,1,63,1,3,3,3,M,Treatment
887,296,1,63,1,3,4,5,M,Treatment
888,297,2,56,1,3,3,1,F,Treatment
889,297,2,56,1,3,3,3,F,Treatment
890,297,2,56,1,3,3,5,F,Treatment
891,298,2,60,2,1,2,1,F,Placebo
892,298,2,60,2,1,2,3,F,Placebo
893,298,2,60,2,1,3,5,F,Placebo
894,299,2,58,2,1,3,1,F,Placebo
895,299,2,58,2,1,2,3,F,Placebo
896,299,2,58,2,1,1,5,F,Placebo
897,300,2,61,1,1,2,1,F,Treatment
898,300,2,61,1,1,1,3,F,Treatment
899,300,2,61,1,1,2,5,F,Treatment
900,301,2,64,1,2,1,1,F,Treatment
901,301,2,64,1,2,2,3,F,Treatment
902,301,2,64,1,2,2,5,F,Treatment
903,302,2,55,1,2,2,1,F,Treatment
904,302,2,55,1,2,3,3,F,Treatment
905,302,2,55,1,2,3,5,F,Treatment

Selecting or keeping columns is just as, if not more, simple and accompished in exactly the same way as re-ordering columns:

In [29]:
df.columns               # Using the columns method to return a list of columns from which to copy & paste

Index(['Patient ID', 'Age', 'Gender Desc', 'Treatment Desc',
       'Baseline Arthritis Score', 'Arthritis Score', 'Time of Score'],
      dtype='object')

In [6]:
select = ['Patient ID', 'Age','Gender Desc', 'Treatment Desc','Baseline Arthritis Score', 'Arthritis Score',
          'Time of Score']  # List of variables to keep
df = df[select]                                             # Keep / Select / Re-ordering statement
df.head(10)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
0,1,54,F,Placebo,2,4,1
1,1,54,F,Placebo,2,5,3
2,1,54,F,Placebo,2,5,5
3,2,41,M,Treatment,3,4,1
4,2,41,M,Treatment,3,4,3
5,2,41,M,Treatment,3,4,5
6,3,48,F,Placebo,3,3,1
7,3,48,F,Placebo,3,4,3
8,3,48,F,Placebo,3,4,5
9,4,40,F,Treatment,3,4,1

## Where clauses / statements

You should already be familiar with where clauses - clauses that are used to extract records that fit certain criteria. Pandas has a number of options for this as follows:

In [14]:
df2 = df[(df['Age'] > 50)]                                                                     # Single where clause                        
df3 = df[(df['Age'] <= 50) & (df['Baseline Arthritis Score'] == 5)]                            # Multiple where clause
df4 = df[(df['Age'] <= 50) | (df['Baseline Arthritis Score'] == 5)]                            # Or clause
df5 = df[df['Baseline Arthritis Score'].isin([1,2,3])]                                         # In list
df6 = df[~df['Baseline Arthritis Score'].isin([1,2,3])]                                        # Not in list - note the ~ 
df7 = df[df['Baseline Arthritis Score'].isin([1,2,3]) & (df['Baseline Arthritis Score'] != 5)] # Combination of both where and inlist

In [8]:
df2.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
0,1,54,F,Placebo,2,4,1
1,1,54,F,Placebo,2,5,3
2,1,54,F,Placebo,2,5,5
18,7,55,F,Placebo,4,3,1
19,7,55,F,Placebo,4,2,3

In [9]:
df3.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
159,54,35,M,Placebo,5,5,1
160,54,35,M,Placebo,5,5,3
161,54,35,M,Placebo,5,5,5
198,67,42,F,Treatment,5,5,1
199,67,42,F,Treatment,5,5,3

In [10]:
df4.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
3,2,41,M,Treatment,3,4,1
4,2,41,M,Treatment,3,4,3
5,2,41,M,Treatment,3,4,5
6,3,48,F,Placebo,3,3,1
7,3,48,F,Placebo,3,4,3

In [11]:
df5.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
0,1,54,F,Placebo,2,4,1
1,1,54,F,Placebo,2,5,3
2,1,54,F,Placebo,2,5,5
3,2,41,M,Treatment,3,4,1
4,2,41,M,Treatment,3,4,3

In [12]:
df6.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
18,7,55,F,Placebo,4,3,1
19,7,55,F,Placebo,4,2,3
20,7,55,F,Placebo,4,3,5
30,11,46,F,Placebo,4,4,1
31,11,46,F,Placebo,4,4,3

In [13]:
df7.head(5)

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
0,1,54,F,Placebo,2,4,1
1,1,54,F,Placebo,2,5,3
2,1,54,F,Placebo,2,5,5
3,2,41,M,Treatment,3,4,1
4,2,41,M,Treatment,3,4,3

Where clauses are technially referred to as <a href = "http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing">Boolean Indexing</a> in Pandas, but we'll continue to refer to them as where clauses because it's a term that people are more comfortable with. Additionally there are many operators you can use in where clauses. A selection of these is as follows:

'=='   Equal to <br/>
'!='   Not equal to <br/>
'>'    Greater than <br/>
'>='   Greater than or Equal to <br/>
'<'    Less than <br/>
'<='   Less than or equal to <br/>
'&'    And <br/>
'|'    Or <br/>

You can find a more extensive list <a href = "http://www.tutorialspoint.com/python/python_basic_operators.htm">here</a>.

## Indexing & Retrieving records

We've already seen indexing with basic data structures and you'll be pleased to hear that indexing in Pandas works much the same way! Note that indexing can be a confusing concept for some who are used to working with spreadsheets and relational databases, but it needn't be. All it essentially is is a way to catalogue and uniquely identify data with references.

However there are a few ways to go about it! Firstly we'll explore the iloc method. This is short for <b>integer location</b> and returns a record based upon its position in the dataframe rather than the index.

In [15]:
df6.iloc[0]       # Selecting a record based upon the location in the dataframe

Patient ID                        7
Age                              55
Gender Desc                       F
Treatment Desc              Placebo
Baseline Arthritis Score          4
Arthritis Score                   3
Time of Score                     1
Name: 18, dtype: object

We can also pass a column header to retrieve a specific value:

In [16]:
df6.iloc[0]['Age'] # Selecting a record and a column header

55

We can also specify slices:

In [17]:
df6.iloc[0:7]     # Selecting records based upon a slice

,Patient ID,Age,Gender Desc,Treatment Desc,Baseline Arthritis Score,Arthritis Score,Time of Score
18,7,55,F,Placebo,4,3,1
19,7,55,F,Placebo,4,2,3
20,7,55,F,Placebo,4,3,5
30,11,46,F,Placebo,4,4,1
31,11,46,F,Placebo,4,4,3
32,11,46,F,Placebo,4,4,5
33,12,59,F,Treatment,4,4,1

In [18]:
df6.iloc[0:7][['Patient ID','Arthritis Score']]   # Selecting records based upon a slice and a column list

    Patient ID  Arthritis Score
18           7                3
19           7                2
20           7                3
30          11                4
31          11                4
32          11                4
33          12                4

We can also manually set an index on a dataframe to replace the default index:

In [24]:
df7 = pd.DataFrame({'col1':['A','B','C','D','E','F','G','H','I','J'],  # Setting column1 data
                    'col2':[1,2,3,4,5,6,7,8,9,0]},                     # Setting column2 data
                    index = ['a','b','c','d','e','f','g','h','i','j']) # Creating index values
df7

  col1  col2
a    A     1
b    B     2
c    C     3
d    D     4
e    E     5
f    F     6
g    G     7
h    H     8
i    I     9
j    J     0

Note that iloc method does not recognise the index value, just the index location. As such it will return an error if you try and reference the index:

In [20]:
df7.iloc['a']

TypeError: cannot do positional indexing on <class 'pandas.indexes.base.Index'> with these indexers [a] of <class 'str'>

However you can use the ix method to return a row based upon the index value:

In [21]:
df7.ix['a']

col1    A
col2    1
Name: a, dtype: object

We also have the option to reset the index and set a new index too:

In [25]:
df7 = df7.reset_index().drop(['index'],axis=1)      # Resetting the index
df7

  col1  col2
0    A     1
1    B     2
2    C     3
3    D     4
4    E     5
5    F     6
6    G     7
7    H     8
8    I     9
9    J     0

In [26]:
df7 = df7.set_index('col1')    # Setting the index to a new variable
df7

      col2
col1
A        1
B        2
C        3
D        4
E        5
F        6
G        7
H        8
I        9
J        0

In [28]:
df7.index.name = None          # Removing the index name to make it look nicer
df7

   col2
A     1
B     2
C     3
D     4
E     5
F     6
G     7
H     8
I     9
J     0

## Further Reading

<a href = "http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation">Excellent explanation of Advanced Indexing with loc, iloc and ix</a><br/>
<a href = "http://pandas.pydata.org/pandas-docs/stable/advanced.html">Multi-indexing and advanced indexing features</a><br/>